:root {
  --red-one: #f65c65;
  --red-two: #f56468;

  --gray-one: #eeeeee;
  --gray-two: #dddddd;
  --gray-three: #888888;
  --gray-four: #d6d6d6;
  --gray-five: #888ea8;

  --black-one: #000000;
  --black-two: #444444;
  --black-three: #0e1726;

  --blue-one: #e0e8f5;
  --blue-two: #4361ee;
  --blue-three: #2a25ff;
  --blue-four: #f4f7fc;

  --green-one: #7be78c;

  --white-one: #ffffff;
}
